mainmenu "Image Builder"

config KAS_BUILD_SYSTEM
	string
	default "openembedded"

menu "Selection"
choice
	prompt "Select the Yocto version to use"
	default YOCTO_SCARTHGAP

	config YOCTO_KIRKSTONE
	bool "Yocto Kirkstone"
	help
		Select Yocto Kirkstone

	config KAS_INCLUDE_YOCTO_KIRKSTONE
	string
	depends on YOCTO_KIRKSTONE
	default "kas/yocto/kirkstone.yml"

	config YOCTO_SCARTHGAP
	bool "Yocto Scarthgap"
	help
		Select Yocto Scarthgap

	config KAS_INCLUDE_YOCTO_SCARTHGAP
	string
	depends on YOCTO_SCARTHGAP
	default "kas/yocto/scarthgap.yml"
endchoice
endmenu