mainmenu "Image Builder"

menu "Selection"
choice
	prompt "Select the Image builder you want to use"
	default HELLO_WORLD

	config HELLO_WORLD
	bool "Hello world takes 5 mins"

	config KAS_INCLUDE_HELLOWORLD
	string
	depends on HELLO_WORLD
	default "helloWorld5min.yaml"

	config DUMMY_FAST
	bool "Dummy image takes 10s to build"

	config KAS_INCLUDE_DUMMY_FAST
	string
	depends on DUMMY_FAST
	default "dummy10s.yaml"
endchoice
endmenu


config PACKAGE_CLASSES
string "SET PACKAGE_CLASSES"
default "package_ipk"
help
	Set the PACKAGE_CLASSES: package_ipk, package_deb, package_rpm.


config BB_NUMBER_THREADS
string "SET BB_NUMBER_THREADS"
default "4"
help
	Set the BB_NUMBER_THREADS: 4, 8.
